---
---

@import "minima";

body {
  background-color: hsl(0, 0, 98);
  font-size: 1.2rem;
}

h1 {
  color: hsl(0, 0, 5);
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  color: hsl(0, 0, 10);
  font-family: sans-serif;
}

h3 {
  color: hsl(0, 0, 15);
  font-family: sans-serif;
}

p, ol, ul {
  font-family: serif;
  color      : hsl(0, 0, 20);
  hyphens    : auto;
  text-align : justify;
  line-height: 1.75;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0, 15);
  }

  h1 {
    color: hsl(0, 0, 95)
  }

  h2 {
    color: hsl(0, 0, 90)
  }

  h3 {
    color: hsl(0, 0, 85)
  }

  p {
    color: hsl(0, 0, 80)
  }
}
