---
---

@import "minima";

body {
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }
}
